.galleryEmpty {
  width: 100%;
  /* height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  color: #888;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.galleryGrid {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.mainWrapper {
  flex-shrink: 0;
}

.mainImage {
  max-width: 324px;
  max-height: 324px;
  object-fit: cover;
  border-radius: 0.75rem;
}

.smallImages {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  gap: 1.25em;
  flex: 1;
  /* max-width: 92px; */
  max-width: 5.75em;
}

.smallImageWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 0.5rem;
}

.smallImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
