.wrapper {
  max-width: 556px;
  max-height: 692px;
  padding: 50px 60px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 32px
}

.inputGroup {
  display: grid;
  gap: 16px;
  border: none;
}

.buttonGroup {
  display: flex;
  gap: 20px
}

.label {
  font-size: 16px;
  color: #253017;
  font-weight: 400;
}

.textarea {
  width: 100%;
  padding: 12px 20px 12px 12px;
  border: 1px solid #69735d;
  border-radius: 12px;
  font-size: 16px;
  box-sizing: border-box;
  transition: all 0.2s ease;
  resize: none;
  min-height: 96px;
}

.textarea:focus {
  outline: none;
  border-color: #253017;
  padding-right: 40px;
}

