.wrapper {
  max-width: 556px;
  max-height: 692px;
  padding: 50px 60px;
  background-color: #fff;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputGroup {
  display: grid;
  gap: 16px;
  border: none;
}

.buttonGroup {
  display: flex;
  gap: 20px;
}

.backButton {
  border: 1px solid #abd27a !important;
}