.grid {
  display: grid;
  grid-template-columns: repeat(3, 324px);
  grid-auto-rows: 368px;
  justify-content: center;
  gap: 24px;
  overflow: hidden;
}

.gridItem {
  max-width: 324px;
  max-height: 368px;
}
